@use "sass:color";
@use "variables" as *;

.footer {
  background-color: $logo-background;
  color: $light-text;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px 20px;
  margin: 0;
  flex-shrink: 0;
  align-items: center;
  text-align: center;
  justify-content: center; 
}