@use "sass:color";
@use "variables" as *;

.nav-bar {
  background-color: $main-background;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: 0;
  padding: 14px 10px;
  margin: 0 auto;
  box-sizing: border-box;
  gap: 5px;

  .nav-home {
    margin-left: 30px;
    margin-right: 15px;
    flex-shrink: 0;
    min-width: 0;
  }
  .nav-links {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-shrink: 0;
    gap: 8px;
    flex-wrap: nowrap;
    min-width: 0;
  }
  .nav-status {
    margin-left: 15px;
    margin-right: 30px;
    flex-shrink: 0;
    min-width: fit-content;
    white-space: nowrap;
    padding-left: 10px;
    text-align: right;
    margin-left: auto;
  }

  .a-button {
    background-color: $dark-text;
    color: $body-background;
    flex-shrink: 0;
    text-overflow: ellipsis; 
    white-space: nowrap; 
    border: 2px solid;
    border-color: $dark-text;
    border-radius: 2px;
    padding: 1px 8px;
  }
  a {
    @extend .a-button;
    background-color: $body-background;
    color: $dark-text;
    text-decoration:none;
    font-size: 1.0rem;
  }
  a:visited {
    @extend .a-button;
  }
  a:hover {
    @extend .a-button;
    background-color: $main-background;
    color: $dark-text;
  }     
  a:active {
    @extend .a-button;
    color: $logo-background;
  }
}

.logo-banner {
  background-color: $logo-background;
  display: flex;
  img {
    height: 50px;
    width: auto;
    padding-left: 10px;
    margin: 2px 0;
  }
}