@use "sass:color";

$main-background: #00beaf;
$logo-background: #089d89;
$body-background: #FFFFFF;
$light-background: #cefbf6;

$dark-text: #002c2a;
$light-text: #cff5f4;

$active-link: #FADA5E;

$font-sans-serif: Helvetica Neue, Helvetica, Arial, sans-serif;
$font-serif: Georgia, Times New Roman, Times, serif;
