@use "sass:color";

$main-background: #E7FF9E;
$logo-background: #3d6912;
$body-background: #FFFFFF;

$dark-text: #1A2421;
$light-text: #ffffff;

$active-link: #117660;

$font-sans-serif: Helvetica Neue, Helvetica, Arial, sans-serif;
$font-serif: Georgia, Times New Roman, Times, serif;
