@use "sass:color";
@use "variables" as *;
@use "navigation";
@use "footer";
@use "preview-home";
@use "preview-market";
@use "pagination";

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  width: 100%;
}

body {
  font-family: $font-sans-serif;
  color: $dark-text;
  background-color: $main-background;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw;
}

.body-container {
  background-color: $body-background;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.main-container {
  margin: 30px 30px;
}