@use "sass:color";
@use "variables" as *;
@use "common";
@use "navigation";
@use "footer";

body {
  font-family: $font-sans-serif;
  color: $dark-text;
  background-color: $main-background;
  margin: 0;
  padding: 0;
}

.body-container {
    display: flex;
  flex-direction: column;
  min-height: 100vh
}

